html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  background-color: #ffffff;

  width: 1440px; /*width или min-width?*/
  min-height: 2475px;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------Стилизация .page-header------*/

.page-header {
  background-color: #eeeeee;
  width: 100%;
  min-height: 125px;
  padding-top: 50px;
}

.navigation {
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*background: lightblue;*/
}

.navigation a {
  display: block;

  color: #000000;
}

.navigation a:hover,
.navigation a:focus {
  color: #fb565a;
}

.navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  margin-right: 200px;
 /* background: lightyellow;*/
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.top-menu {
  margin: 0;

  margin-top: 5px;
  padding: 0;

  list-style: none;

  display: inline-flex;
  flex-wrap: wrap;

  /*background: lightyellow;*/
}

.top-menu li a {
  margin-right: 48px;
  padding: 5px 0;
}


.top-menu li:nth-child(3) a {
  margin-right: 43px;
}

.cart {
  margin: 0;
  margin-left: auto;
  padding: 0;

  max-width: 115px;

  display: flex;

  /*background: lightyellow;*/
}

.cart a {
  padding-left: 40px;
  padding-top: 2px;

  position: relative;
}

.cart a::before {
  content: "";

  width: 15px;
  height: 15px;

  position: absolute;
  top: 10px;
  left: 0px;

  background-image: url("../img/cart-icon.svg"); /*Почему работает только при адресе ..*/
  background-repeat: no-repeat;
  background-position: 0 0;
}

.navigation-current a {
  border-bottom: 2px solid #fb565a;
}

/*------Стилизация слайдера ------*/
.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  margin-right: 15px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 68px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 99% -12px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% -10px;

}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% -10px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: 4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slider-item p:nth-child(2) {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  color: #283136;
}



.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 240px;
  height: 50px;
  padding: 12px 0;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}


/*----------------------------------------
/* ------Стилизация раздела "Услуги и преимущества" ------*/
.services-list {
  margin: 0;
  padding: 0;
  padding-top: 81px;
  min-height: 510px;

  border-bottom: 2px solid #eeeeee;

  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.services-item {
  margin: 0;
  padding: 0;
  margin-right: 155px;
  width: 245px;
}

.services-item:nth-of-type(1)::before {
  content: url(../img/illustration-1.jpg);
}

.services-item:nth-of-type(2)::before {
  content: url(../img/illustration-2.jpg);
}

.services-item:nth-of-type(3)::before {
  content: url(../img/illustration-3.jpg);
}

.services-item h3 {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.services-button {
  margin: 0;
  margin-top: 32px;
  padding: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 3px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.services-item:nth-child(1) .services-button {
  background-color: #fb565a;
}

.services-item:nth-child(1) .services-button:hover,
.services-item:nth-child(1) .services-button:focus {
  background-color: #e74246;
}

.services-item:nth-child(1) .services-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services-item:nth-child(2) .services-button {
  background-color: #00ca74;
}

.services-item:nth-child(2) .services-button:hover,
.services-item:nth-child(2) .services-button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .services-button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.services-item:nth-child(3) .services-button {
  background-color: #efc84a;
}

.services-item:nth-child(3) .services-button:hover,
.services-item:nth-child(3) .services-button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .services-button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}


/* ------Стилизация раздела "О студии" ------*/
.studio {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 525px;

  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid #eeeeee;
}

.col-left {
  margin: 0;
  padding: 0;
  padding-top: 75px;

  width: 660px;
}

.col-left b {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;

  display: block;
}

.col-left p {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  color: #283136;
}

.col-left .studio-details {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.creation-list  {
  margin: 0;
  padding: 0;
  margin-left: 35px;

  list-style: none;
}

.creation-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  position: relative;
}

.creation-list li::before {
  content: "";

  width: 25px;
  height: 2px;

  background-color: #fb565a;

  position: absolute;
  top: 11px;
  left: -34px;
}

.col-right {
  margin: 0;
  padding: 0;
  padding-top: 40px;

  width: 360px;
}

.col-right .studio-details {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 30px;
  margin-bottom: 35px;

  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.percentages-table {
  margin: 0;
  padding: 0;
}

.percentages-table tr:first-child {
  margin: 0;
  padding: 0;
  height: 54px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.percentages-table tr:first-child td:nth-child(2) {
  padding-left: 6px;
}

.percentages-table tr:first-child td:nth-child(3) {
  padding-left: 12px;
}

tr span {
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  color: #000000;

  vertical-align: top;
}

.percentages-table tr:last-child td {
  padding-top: 10px;

  line-height: 18px;
}

.percentages-table tr:last-child td:nth-child(2) {
  padding-left: 6px;
}

.percentages-table tr:last-child td:nth-child(3) {
  padding-left: 12px;
}
/*-----------------------------------------------------*/
/* ------Стилизация секции "Клиенты" с логотипами------*/
.customers {
  margin: 0;
  padding: 0;
  margin-bottom: 75px;

  min-height: 180px;

  border-bottom: 2px solid #eeeeee;
}

.customers-list {
  margin: 0;
  padding: 0;

  list-style: none;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customers-list li {
  opacity: 0.2;

  position: relative;
}


.customers-list li:hover,
.customers-list li:focus {
  opacity: 1;
}

.customers-list li:active {
  opacity: 0.1;
}

.customers-list li::before {
  content: "";
  width: 2px;
  height: 52px;

  background-color: #eeeeee;

  position: absolute;
  top: 65px;
  left: -20px;
}

.customers-list li:first-child::before {
  display: none;
}
/*------------------------------------------------*/
/*-------Стилизация раздела "Контакты" и карты----*/
.map {
  margin: 0px;
  padding: 0px;
  margin-bottom: 65px;

  min-width: 100%;

  position: relative;
}

.address {
  margin: 0px;
  padding: 50px;

  width: 319px;
  height: 308px;

  background-color: #ffffff;

  position: absolute;
  top: 55px;
  left: 140px;
}

.address-title {
  margin: 0px;
  padding: 0px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.address p:nth-child(2) {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  line-height: 18px;
  color: #666666;

}

.write-btn {
  margin: 0;
  margin-top: 20px;
  padding: 0;


  width: 220px;
  height: 50px;
  border-radius: 3px;

  background-color: #fb565a;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 0px;

  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-transform: uppercase;
}

.write-btn:hover,
.write-btn:focus {
  background-color: #e74246;
}

.write-btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.map-marker {
  margin: 0px;
  padding: 0px;

  width: 367px;
  height: 190px;

  background-color: transparent;

  position: absolute;
  top: 90px;
  left: 685px;
}
/*----------------------------------------*/
/* ------Стилизация .page-footer----------*/
.page-footer {
  margin: 0;
  padding: 0;

  min-height: 215px;

  display: flex;
  justify-content: flex-start;
}

.social {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  width: 380px;
}

.social-button {
  margin: 0;
  padding: 0;
  margin-right: 15px;

  width: 78px;
  height: 78px;

  border-radius: 50%;

  margin-right: 15px;

  background-color: #e1e1e1;
  display: block;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: 50%;
}

.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
  background-position: 50%;
}

.insta {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: 50%;
}

.social-button:active.vk {
  background-image: url("../img/vk-icon-opacity.svg");
}

.social-button:active.fb {
  background-image: url("../img/fb-icon-opacity.svg");
}

.social-button:active.insta {
  background-image: url("../img/insta-icon-opacity.svg");
}

.footer-slogan {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;

  min-width: 600px;
  min-height: 200px;
}

.footer-slogan p:first-child {
  margin: 0;
  padding: 0;

  font-size: 36px;
  font-weight: 700;
}

/*----------------------------------------*/
/* ------Стилизация страницы магазина------*/
.page-title {
  margin: 0;
  padding-top: 65px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;

  text-align: center;
  display: block;
  min-height: 230px;
  background-color: #eeeeee;
}

.inner {
  display: flex;
  justify-content: space-between;

  background-color: lightgrey;
}

.filters {
  width: 320px;
  min-height: 840px;
  padding-top: 55px;

  background-color: lightgreen;
  border: 1px dashed green;
}

.filters-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filters legend,
.templates-filter span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

/*-------Фильтр стоимости с двумя ползунками------------*/


.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 21px;
  padding-left: 18px;

  background-color: #eeeeee;

  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  box-sizing: content-box;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px; /*Первые два свойства не наследуются? */
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 3px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}

/*------------------------------------------------*/

.filters-item-option {
  line-height: 20px;
  color: #283136;
}

.show-btn {
  width: 260px;
  height: 50px;

  font: inherit;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.show-btn:hover,
.show-btn:focus {
  background-color: #dfdfdf;
}

.show-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}
/*.sort {
  display: flex;
  justify-content: flex-end;
}

.sort a {
  padding-right: 25px;

  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}*/

.sort a:hover,
.sort a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active,
.sort-active {
  color: rgba(0, 0, 0, 1);
}

.catalog-content {
  padding: 0;
  padding-top: 55px;

  width: 820px;
  min-height: 2215px;

  background-color: lightgreen;
}

.templates {
  width: 820px;
  min-height: 2215px;

  display: block;
}

.templates-filter {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  min-height: 50px;

  display: flex;

  background-color: lightblue;
}

.templates-filter span {
  margin-right: 0px;
  padding: 0;

  width: 360px;

  background-color: lightyellow;


}

.templates-filter .sort {
  margin: 0;
  padding: 0;

  list-style: none;

  width: 360px;


  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
  text-transform: uppercase;

  display: flex;


  background-color: lightyellow;
}

.templates-list {
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;

  flex-basis: 820px;
  min-height: 1930px;

  background-color: lightblue;
}

.templates-item {
  margin: 0;
  margin-left: 40px;
  margin-bottom: 33px;
  padding: 0;

  flex-basis: 360px;
  height: 616px;
}

.templates-item img {
  margin: 0;
  padding: 0;

  width: 360px;
  height: 576px;
}

.templates-item::before {
  content: "";
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;

  width: 360px;
  height: 40px;

  margin: 0;
  padding: 0;

  display: block;
}

.templates-item-hover h3 a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  display: none;
}

.templates-item-hover p {
  line-height: 18px;
  color: #666666;

  display: none;
}

.price-button {
  display: table-cell;

  width: 200px;
  height: 50px;

  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;

  display: none;
}

.price-button:hover,
.price-button:focus {
  background-color: #e74246;
}

.price-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px #c13135;
}
/*------------- Переключение страниц-------------------*/
.pagination-list {
  display: flex;
  flex-wrap: wrap;


  padding: 0;
  margin: 0;
  margin-left: 58px;
  margin-top: 28px;

  list-style: none;
}

.pagination-item a {
  display: inline-flex;

  width: 50px;
  height: 50px;
  padding: 10px 10px;
  margin-right: 10px;

  border-radius: 3px;

  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;


  background-color: #eeeeee;
}

.pagination-item:last-child a {
  margin-right: 0;
  width: 260px;
}

.pagination-item a:hover
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 #bfbfbf;
}

.pagination-item-current a {
  background-color: #ffffff;
  /*box-shadow: inset 0px 0px 0px 3px #dbdbdb;*/
  border: 3px solid #dbdbdb;
}

/*----------------------------------------*/
/* ------Стилизация всплывающего окна-----*/
.popup {
  display: none;
}
