html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;

  background-color: #ffffff;

  min-width: 1440px;
  min-height: 2475px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20;
}

/* ------Стилизация .page-header------*/

.page-header {
  margin: 0;
  padding: 0;

  background-color: #eeeeee;

  width: 100%;
  min-height: 355px;

  display: flex;
  flex-wrap: wrap;
}

.index-page {
  min-height: 545px;
}

.navigation {
  margin: 0;
  padding: 0;

  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.logo {
  margin: 0;
  margin-top: 50px;
  margin-left: 20px;
  padding: 0;
}

.top-menu {
  margin-top: 75px;
  margin-left: 200px;
  padding: 0;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  min-width: 438px;
}

.top-menu li {
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.cart {
  margin: 0;
  padding: 0;
  margin-top: 75px;
  margin-left: 180px;
}

.navigation a {
  color: #000000;
}

.navigation a:hover,
.navigation a:focus {
  color: #fb565a;
}

.navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.navigation-current {
  text-decoration: underline;
  text-decoration-color: #fb565a;
  /*border-bottom: 2px solid #fb565a;*/
}

.cart:before {
  content: url(../img/cart-icon.svg);
  margin-right: 25px;
}

.page-title {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-left: 355px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

/* ------Стилизация слайдера ------*/
.slider {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 385px;

  position: relative;
}

.slide {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 385px;

  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-size: 760px 431px;
  background-position: 335px -25px;
}

.slide p:first-child {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  /*padding-left: 100px;*/

  width: 525px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.slide p:nth-child(2) {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  /*padding-left: 100px;*/

  width: 525px;

  color: #283136;
}

.slide-button {
  margin: 0;
  margin-top: 40px;


  width: 240px;
  height: 50px;
  border-radius: 3px;

  background-color: #fb565a;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.slide-button a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.slide-button:hover,
.slide-button:focus {
  background-color: #e74246;
}

.slide-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.slider-controls {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;

  position: absolute;
  left: 520px;
  top: 290px;
}

.slider-controls p {
  margin-right: 25px;
}
/*----------------------------------------*/
/* ------Стилизация раздела "Услуги и преимущества" ------*/
.services-list {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  margin-left: 20px;

  display: flex;
  justify-content: flex-start;
}

.services-item {
  margin: 0;
  padding: 0;
  margin-right: 155px;
  width: 245px;
}

.services-item:nth-of-type(1)::before {
  content: url(../img/illustration-1.jpg);
}

.services-item:nth-of-type(2)::before {
  content: url(../img/illustration-2.jpg);
}

.services-item:nth-of-type(3)::before {
  content: url(../img/illustration-3.jpg);
}

.services-item h3 {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.services-button {
  margin: 0;
  margin-top: 30px;
  padding: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 3px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
}

.services-item:nth-child(1) .services-button {
  background-color: #fb565a;
}

.services-item:nth-child(1) .services-button:hover,
.services-item:nth-child(1) .services-button:focus {
  background-color: #e74246;
}

.services-item:nth-child(1) .services-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services-item:nth-child(2) .services-button {
  background-color: #00ca74;
}

.services-item:nth-child(2) .services-button:hover,
.services-item:nth-child(2) .services-button:focus {
  background-color: #00bc6c;
}

.services-item:nth-child(2) .services-button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.services-item:nth-child(3) .services-button {
  background-color: #efc84a;
}

.services-item:nth-child(3) .services-button:hover,
.services-item:nth-child(3) .services-button:focus {
  background-color: #eab534;
}

.services-item:nth-child(3) .services-button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}


/* ------Стилизация раздела "О студии" ------*/
.studio {
  margin: 0;
  padding: 0;

  width: 100%;
  min-height: 525px;

  display: flex;
  justify-content: flex-start;
}

.col-left {
  margin: 0;
  padding: 0;
  padding-top: 160px;
  margin-left: 20px;
  margin-right: 135px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 655px;
}

.col-left b {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.col-left p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  color: #283136;
}

.col-left .studio-details {
  margin: 0;
  padding: 0;

  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.creation-list  {
  margin: 0;
  padding: 0;


  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.creation-list li {
  margin: 0;
  padding: 0;
}

.col-right {
  margin: 0;
  padding: 0;
  padding-top: 125px;
  margin-left: 10px;

  display: flex;
  flex-wrap: wrap;
  width: 380px;
}

.col-right .studio-details {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 50px;

  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.percentages-table {
  margin: 0;
  padding: 0;
}

.percentages-table tr:first-child {
  margin: 0;
  padding: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

tr span {
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  color: #000000;

  vertical-align: top;
}

/* ------Стилизация секции "Клиенты" с логотипами------*/
.customers {
  margin: 0;
  margin: 0;

}

.customers-list {
  margin: 0;
  padding: 0 20px;
  margin-top: 85px;

  display: flex;
  justify-content: space-between;
}

.customers-list li {
  opacity: 0.2;
}

.customers-list li:hover,
.customers-list li:focus {
  opacity: 1;
}

.customers-list li:active {
  opacity: 0.1;
}

/*-------Стилизация раздела "Контакты" и карты----*/
.map {
  margin: 0px;
  padding: 0px;

  position: relative;
}

.address {
  margin: 0px;
  padding: 50px;

  width: 320px;
  height: 305px;

  background-color: #ffffff;

  position: absolute;
  top: 130px;
  left: 140px;
}

.address-title {
  margin: 0px;
  padding: 0px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}

.address p:nth-child(2) {
  margin: 0px;
  padding: 0px;

  margin-top: 20px;

  line-height: 18px;
  color: #666666;

}

.write-btn {
  margin: 0;
  margin-top: 10px;
  padding: 0;


  width: 220px;
  height: 50px;
  border-radius: 3px;

  background-color: #fb565a;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: 0px;

  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-transform: uppercase;
}

.write-btn:hover,
.write-btn:focus {
  background-color: #e74246;
}

.write-btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.map-marker {
  margin: 0px;
  padding: 50px;

  width: 400px;
  height: 200px;

  background-color: transparent;

  position: absolute;
  top: 150px;
  left: 670px;
}
/*----------------------------------------*/
/* ------Стилизация страницы магазина------*/

.sort {
  display: flex;
  justify-content: flex-end;
}

.sort a {
  padding-right: 25px;

  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.sort a:hover,
.sort a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort a:active,
.sort .active {
  color: rgba(0, 0, 0, 1);
}

.templates-filter {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  width: 765px;
  justify-content: space-between;
}

.templates-item-hover h3 a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.templates-item-hover p {
  line-height: 18px;
  color: #666666;
}

.price-button {
  display: table-cell;

  width: 200px;
  height: 50px;

  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
}

.price-button:hover,
.price-button:focus {
  background-color: #e74246;
}

.price-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px #c13135;
}

.filters legend,
.templates-filter span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filters-price {
  line-height: 20px;
  color: #283136;
  text-transform: uppercase;
}

.filters-option {
  line-height: 20px;
  color: #283136;
}

.show-btn {
  width: 260px;
  height: 50px;

  font: inherit;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.show-btn:hover,
.show-btn:focus {
  background-color: #dfdfdf;
}

.show-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}

.pagination-item a {

  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

/*----------------------------------------*/
/* ------Стилизация .page-footer------*/
.page-footer {
  margin: 0;
  padding: 0;
  padding-left: 140px;

  display: flex;
  justify-content: flex-start;
}

.social li {
  margin: 0;
  padding: 0;
  margin-right: 15px;

  width: 80px;
  height: 80px;

  border-radius: 50px;

  background-color: #e1e1e1;

  display: inline-block;
}

.social li:hover,
.social li:focus {
  background-color: #e74246;
}

.social li:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.vk {

  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: 0px 0px;

}

.fb {

  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: 0px 0px;

}

.insta {

  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
  background-position: 0px 0px;

}

.footer-slogan p:first-child {
  margin: 0;
  padding: 0;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

}

.footer-slogan p:last-child {
  line-height: 22px;
}

/*----------------------------------------*/
