html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto, Arial, sans-serif;
  color: #444444;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------Стилизация .page-header------*/

.page-header {
  padding-top: 50px;

  background-color: #eeeeee;
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-weight: 500;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.navigation a {
  display: block;

  color: #000000;

  user-select: none;
}

.navigation a:hover,
.navigation a:focus {
  color: #fb565a;
}

.navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-current a {
  border-bottom: 2px solid #fb565a;
}

.navigation-current a:hover,
.navigation-current a:focus {
  color: #000000;
}

.logo {
  margin-right: 200px;
}

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.index:hover,
.index:focus,
.index:active {
  opacity: 1.0;
}

.top-menu {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  list-style: none;
}

.top-menu li a {
  margin-right: 48px;
  padding: 5px 0;
}

.top-menu li:nth-child(3) a {
  margin-right: 43px;
}

.cart {
  display: flex;
  max-width: 115px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.cart a {
  position: relative;

  padding-top: 2px;
  padding-left: 40px;
}

.cart a::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg"); /*Почему работает только при адресе ..*/
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*------Стилизация слайдера ------*/
.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  bottom: 104px;
  left: 50%;
  z-index: 100;

  width: 160px;
  height: 18px;

  font-size: 0;
  text-align: center;

  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 15px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 68px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-repeat: no-repeat;
  background-position: 99% -12px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-repeat: no-repeat;
  background-position: 100% -10px; /*Видимо, придется переделывать разметку, чтобы фон влезал*/
}

.slider-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-repeat: no-repeat;
  background-position: 100% -10px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 8px;
  height: 8px;
  margin: 4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item-title {
  max-width: 600px;
  margin: 0;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.slider-item p:nth-child(2) {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;

  color: #283136;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  padding: 12px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

/* ------Стилизация раздела "Услуги и преимущества" ------*/
.services {
  padding-top: 81px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;

  border-bottom: 2px solid #eeeeee;
}

.services-item {
  display: flex;
  flex-direction: column;

  width: 300px;
  margin-right: 100px;
  padding-top: 146px;


  background-position: left top;
  background-size: 300px 146px;
  background-repeat: no-repeat;
}

.services-item:nth-child(3n) {
  margin-right: 0;
}

.sites {
  background-image: url("../img/illustration-1.jpg");
}

.apps {
  background-image: url("../img/illustration-2.jpg");
}

.presentations {
  background-image: url("../img/illustration-3.jpg");
}

.services-item h3 {
  margin: 0;
  margin-top: 25px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.services-item p {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 0;
}

.services-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  margin-top: auto;
  margin-bottom: 81px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 3px;
}

.sites .services-button {
  background-color: #fb565a;
}

.sites .services-button:hover,
.sites .services-button:focus {
  background-color: #e74246;
}

.sites .services-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.apps .services-button {
  background-color: #00ca74;
}

.apps .services-button:hover,
.apps .services-button:focus {
  background-color: #00bc6c;
}

.apps .services-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.presentations .services-button {
  background-color: #efc84a;
}

.presentations .services-button:hover,
.presentations .services-button:focus {
  background-color: #eab534;
}

.presentations .services-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}


/* ------Стилизация раздела "О студии" ------*/
.studio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 525px;
  margin: 0;
  padding: 0;

  border-bottom: 2px solid #eeeeee;
}

.col-left {
  width: 660px;
  margin: 0;
  padding: 0;
  padding-top: 72px;
}

.col-left b {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.col-left p {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  color: #283136;
}

.col-left .studio-details {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.creation-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.creation-list li {
  position: relative;

  margin-bottom: 25px;
  padding-left: 34px;
}

.creation-list li::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.col-right {
  width: 360px;
  margin: 0;
  padding: 0;
  padding-top: 37px;
}

.col-right .studio-details {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 35px;
  margin-left: 15px;
  padding: 0;

  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.percentages-table {
  margin: 0;
  padding: 0;
}

.percentages-table tr:first-child {
  height: 54px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.percentages-table tr:first-child td:nth-child(2) {
  padding-left: 6px;
}

.percentages-table tr:first-child td:nth-child(3) {
  padding-left: 12px;
}

tr span {
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  vertical-align: top;
  color: #000000;
}

.percentages-table tr:last-child td {
  padding-top: 10px;

  line-height: 18px;
}

.percentages-table tr:last-child td:nth-child(2) {
  padding-left: 6px;
}

.percentages-table tr:last-child td:nth-child(3) {
  padding-left: 12px;
}
/*-----------------------------------------------------*/
/* ------Стилизация секции "Клиенты" с логотипами------*/
.customers {
  min-height: 185px;
  margin-bottom: 75px;

  border-bottom: 2px solid #eeeeee;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.customers-list li {
  position: relative;

  padding-left: 20px;

  opacity: 0.2;
}

.customers-list li:first-child {
  padding-left: 0;
}

.customers-list a {
  display: block;
}


.customers-list li:hover,
.customers-list li:focus {
  opacity: 1;
}

.customers-list li:active {
  opacity: 0.1;
}

.customers-list li::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 0px;

  width: 2px;
  height: 52px;

  background-color: #eeeeee;
}

.customers-list li:hover::before,
.customers-list li:focus::before,
.customers-list li:active::before {
  opacity: 0.2;
}

.customers-list li:first-child::before {
  display: none;
}
/*------------------------------------------------*/
/*-------Стилизация раздела "Контакты" и карты----*/
.map {
  position: relative;

  width: 1440px;
  margin: 0 auto;
  margin-bottom: 65px;
  padding: 0;
}

.address {
  position: absolute;
  top: 55px;
  left: 140px;

  width: 319px;
  height: 308px;
  margin: 0;
  padding: 50px;

  background-color: #ffffff;
}

.address-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.address p:nth-child(2) {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  line-height: 18px;
  color: #666666;
}

.write-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 50px;
  margin-top: 20px;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: 0;
  border-radius: 3px;
}

.write-btn:hover,
.write-btn:focus {
  background-color: #e74246;
}

.write-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.map-marker {
  position: absolute;
  top: 90px;
  left: 685px;

  width: 367px;
  height: 190px;
  margin: 0;
  padding: 0;

  background-color: transparent;
}
/*----------------------------------------*/
/* ------Стилизация .page-footer----------*/
.page-footer {
  display: flex;
  justify-content: flex-start;
  min-height: 215px;
  margin: 0;
  padding: 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: block;
  width: 78px;
  height: 78px;
  margin: 0;
  margin-right: 15px;
  margin-right: 15px;
  padding: 0;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 26px 15px;
}

.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 12px 22px;
}

.insta {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 21px 21px;
}

.social-button:active.vk {
  background-image: url("../img/vk-icon-opacity.svg");
}

.social-button:active.fb {
  background-image: url("../img/fb-icon-opacity.svg");
}

.social-button:active.insta {
  background-image: url("../img/insta-icon-opacity.svg");
}

.footer-slogan {
  min-width: 600px;
  min-height: 200px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-left: 20px;
}

.footer-slogan p:first-child {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 36px;
}

/*----------------------------------------*/
/* ------Стилизация страницы магазина------*/
.page-title {
  display: block;
  /*width: 1440px;*/
  min-height: 230px;
  margin: 0;
  padding-top: 65px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;

  background-color: #eeeeee;
}

.inner {
  display: flex;
  justify-content: space-between;

  /*background-color: lightgrey;*/
}

.filters {
  width: 320px;
  min-height: 840px;
  padding-top: 55px;

  /*background-color: lightgreen;*/
  /*border: 1px dashed green;*/
}

.filters-item {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  border: none;
}

.filters-item legend,
.templates-filter span {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}


/*-------Фильтр стоимости с двумя ползунками------------*/
.price {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 13px;
  padding-top: 38px;
  padding-right: 21px;
  padding-left: 18px;

  background-color: #eeeeee;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  left: 0;

  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  height: 37px;
  margin-left: 8px;
  padding: 8px 10px;

  font-size: 16px; /*Первые два свойства не наследуются? */
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  color: #283136;

  background: #eeeeee;
  border: none;
  border-radius: 3px;
}

.max-price {
  text-align: right;
  /*padding-right: 1px;*/
}

/*------------------------------------------------*/
/*--------------Фильтры сетки (.grid) и особенностей (.features)--------------*/

.filters-item ul {
  margin: 0;
  padding: 0;
  padding-top: 15px;

  list-style: none;
}

.filters-item-option {
  margin-bottom: 20px;
  padding-left: 36px;

  line-height: 20px;
  color: #283136;

  /*background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;*/
}

.filters-item-option label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}

.filters-input + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  background-repeat: no-repeat;
  opacity: 0.4;
}

.filters-input-radio + label::before {
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.filters-input-checkbox + label::before {
  top: -1px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.filters-input-radio:checked + label::before {
  background-image: url("../img/radio-on.svg");
}

.filters-input-checkbox:checked + label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filters-input:hover + label,
.filters-input:focus + label {
  color: #000000;
}

.filters-input:hover + label::before,
.filters-input:focus + label::before {
  opacity: 1.0;
}


.filters-input:disabled + label {
  color: #283136;

  opacity: 0.3;
}

.filters-input:disabled + label::before {
  opacity: 0.1;
}

.grid {
  margin-bottom: 26px;
}

.features {
  margin-bottom: 30px;
}

.show-btn {
  width: 260px;
  height: 50px;

  font: inherit;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.show-btn:hover,
.show-btn:focus {
  background-color: #dfdfdf;
}

.show-btn:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px #bfbfbf;
}

/*--------------------Фильтр сортировки--------------*/
.templates {
  width: 820px;
  min-height: 2215px;
  padding: 0;
  padding-top: 50px;

  /*background-color: lightgreen;*/
}

.templates-filter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 820px;
  min-height: 55px;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  /*background-color: lightblue;*/
}

.templates-filter span {
  margin: 0;
  margin-top: 1px;
  margin-right: 0;
  margin-left: 59px;
  padding: 0;

  /*width: 360px;*/

  /*background-color: lightyellow;*/
}

.wrapper {
  display: flex;
  flex-basis: 360px;
  justify-content: space-between;
  align-items: baseline;
}

.sort {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  /*background-color: lightyellow;*/
}

.by-feature a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  opacity: 0.3;
}

.by-feature li:not(:first-child) {
  margin-left: 25px;
}


.by-order a {
  display: flex;
  width: 11px;
  height: 10px;
  margin-left: 19px;

  opacity: 0.2;
}

.descending a {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
}

.ascending a {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.sort a:hover,
.sort a:focus {
  opacity: 0.6;
}

.sort a:active,
.sort .active,
.sort .active:hover,
.sort .active:focus {
  opacity: 1.0;
}

/*-------------Стилизация шаблонов-------------------*/
.templates-list {
  display: flex;
  flex-basis: 820px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
  min-height: 1915px;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style: none;

  /*background-color: lightblue;*/
}

.templates-item {
  position: relative;

  flex-basis: 360px;
  height: 616px;
  margin: 0;
  margin-bottom: 33px;
  margin-left: 40px;
  padding: 0;
}

.templates-item img {
  width: 360px;
  height: 576px;
  margin: 0;
  padding: 0;
}

.templates-item::before {
  content: "";

  display: block;
  width: 360px;
  height: 40px;
  margin: 0;
  padding: 0;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.templates-item:hover.templates-item::before,
.templates-item:focus.templates-item::before {
  opacity: 1.0;
}

.templates-item:hover .templates-item-hover,
.templates-item:focus .templates-item-hover {
  display: block;
}

.templates-item-hover {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  width: 360px;
  height: 230px;
  margin: 0;
  padding: 0;
  padding-top: 25px;

  text-align: center;

  background-color: #eeeeee;
}

.templates-item:nth-child(3) .templates-item-hover,
.templates-item:nth-child(4) .templates-item-hover {
  padding-top: 30px;
}

.templates-item-hover h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.templates-item-hover h3 a {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.templates-item-hover p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  line-height: 18px;
  color: #666666;
}

.price-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 0 auto;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
}

.price-button:hover,
.price-button:focus {
  background-color: #e74246;
}

.price-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;
}


/*------------- Переключение страниц-------------------*/
.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 27px;
  margin-left: 60px;
  padding: 0;

  list-style: none;

  /*background-color: lightyellow;*/
}

.pagination-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;

  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-item:nth-child(2),
.pgination-item:nth-child(3) {
  margin-right: 13px;
}

.pagination-item:last-child {
  width: 260px;
}

.pagination-item a {
  padding: 15px;

  font-weight: 500;
  line-height: 18px;
  color: #000000;
}

.pagination-item:last-child a {
  padding: 15px 75px;

  text-transform: uppercase;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 #bfbfbf;
}

.pagination-item:active a {
  opacity: 0.3;
}

.pagination-item.active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/*----------------------------------------*/
/* ------Стилизация всплывающего окна-----*/
.popup {
  position: absolute; /*Здесь должно быть fixed?*/
  top: 2442px;
  left: 240px;

  display: none;
  width: 960px;
  height: 590px;
  padding: 68px 99px;

  background-color: #ffffff;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.7);
}

.close-btn {
  position: absolute;
  top: 80px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -3px;

  width: 26px;
  height: 4px;

  background-color: #fb565a;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.close-btn:hover,
.close-btn:focus {
  opacity: 1.0;
}

.close-btn:active {
  opacity: 0.1;
}

.popup h2 {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup-form p:nth-child(1),
.popup-form p:nth-child(2) {
  flex-basis: 360px;
}

.popup-form p:nth-child(3) {
  flex-basis: 760px;
  margin-bottom: 40px;
}

.popup-form label {
  display: block;
  margin-bottom: 9px;

  font-weight: 700;
  line-height: 18px;
  color: #000000;
}

.popup-form input[type="text"],
.popup-form input[type="email"] {
  width: 362px;
  padding: 15px;

  font: inherit;
  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  opacity: 0.5;
}

.popup-form textarea {
  width: 762px;
  height: 120px;
  padding: 13px 14px;

  font: inherit;
  line-height: 18px;

  border: 2px solid #d7dcde;
  border-radius: 3px;
  opacity: 0.5;
}

.popup-form input:hover,
.popup-form textarea:hover {
  border-color: #b4b9bb;
}

.popup-form input:focus,
.popup-form textarea:focus {
  border-color: #000000;
  outline: none;
  opacity: 1.0;
}

.popup-form input:invalid {
  color: #e74246;

  border-color: #e74246;
  opacity: 1.0;
}

.send-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 50px;
  margin: 0;
  padding: 0;

  font-weight: 500;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: 0;
  border-radius: 3px;
}

.send-btn:hover,
.send-btn:focus {
  background-color: #e74246;
}

.send-btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}
